<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Valerie. And this is my boyfriend Pavel Kharakh.</p>
        <p>You can find him on facebook: https://www.facebook.com/Pashok</p>
        <img class="portrait" src="/img/pasha.jpeg">
    </div>

    {{>footer}}
</body>

</html>